@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="title">Bienvenido a la aplicación de Avalúos Inmobiliarios</h1>
</div>

<div class="container">
    <ul class="custom-list">
        <li>La aplicación de Avaluos Inmobiliarios te permite crear fácilmente avalúos a partir de un formulario general.</li>
        <li>Podrás ingresar todos los datos relevantes de la propiedad, como la fecha del avalúo, el estatus, el valuador, el solicitante y más.</li>
        <li>Además, tendrás la opción de proporcionar detalles específicos sobre la propiedad, como la ubicación, la infraestructura disponible, las características de construcción, entre otros.</li>
    </ul>
</div>


