@page
@model AvaluoInmobiliario.Pages.Avaluos.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Desea eliminar este registro?</h3>
<div>
    <form method="post">
        <input type="hidden" asp-for="Avaluo.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>
